# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB (Preview) and CockroachDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL=

AWS_S3_BUCKET=
AWS_S3_REGION=
AWS_ACCESSKEY_TOKEN=
AWS_ACCESSKEY_ID=
NEXTAUTH_SECRET=
NEXTAUTH_URL=
GITHUB_SECRET=
GITHUB_ID=
